* {
  padding: 40px;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

body {
  padding: 30px;
  display: flex;
  flex-direction: column;
}


.container {
  display: flex;
  width: 200px;
  margin: 0 auto;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  gap: 20px;
  background-color: black;
}

.bola {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.vermelha {
  background-color: red;
  box-shadow: 0 0 20px #ff0000;
}

.amarela {
  background-color: yellow;
  box-shadow: 0 0 20px yellow
}

.verde {
  background-color: green;
  box-shadow: 0 0 20px green;
}

.titulo {
  background-color: aqua;
}
